#main__contacto {
  max-width: 1440px;
}

.container__contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5%;
  padding: 5%;
  background-color: #9C9BAA;
}

.logo img {
  height: 80px;
  width: 120px;
}

/*====================TITULO Y REDES **FALTA ICONO */
.linea_titulo {
  width: 80%;
  border: solid 3px rgb(255, 255, 255);
  position: relative;
  bottom: 20%;
}

/*FORMULARIO DE CONTACTO*/
.form {
  background-color: #D9D9D9;
  display: grid;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  text-align: center;
  padding: 1em 1em;
  max-width: 80%;
}

.form__submit {
  background: #d9d9d9;
  color: #fff;
  max-width: 100%;
}

/*MAPA DE GOOGLE*/
.iframe__maps {
  display: grid;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  max-width: 80%;
}

#mensaje {
  resize: none;
}

@media (max-width: 768px) {
  .container__contacto {
    grid-template-columns: repeat(1, 1fr);
  }
}
.div_linea {
  width: 100%;
  height: 5px;
}

/*==============Propiedades Tienda=============== */
.boton__tienda {
  grid-area: Tienda;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 3vw;
  border-radius: 10px;
}

.boton__tienda a {
  border-radius: 10px;
  color: aliceblue;
}

/*PAGINA TIENDA OK!!!!!!! */
.container__tienda {
  background-color: #9C9BAA;
  border-radius: 10px;
  display: grid;
  min-height: 100px;
  min-width: 200px;
  grid-template-columns: 50px, 1fr;
  grid-template-rows: 100px 40px;
  gap: 2px;
}

.container__tienda .div {
  color: white;
  display: grid;
}

.container__tienda .div:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: stretch;
  position: relative;
  padding: 30px;
  color: white;
  bottom: 1px;
}

.container__tienda .div:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.container__tienda .div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.box__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2%;
}

.box__productos {
  background-color: #9C9BAA;
}

.producto1 {
  display: grid;
  justify-items: center;
}

.producto2 {
  display: grid;
  justify-items: center;
}

.producto3 {
  display: grid;
  justify-items: center;
}

.producto4 {
  display: grid;
  justify-items: center;
}

.producto5 {
  display: grid;
  justify-items: center;
}

.producto6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__productos {
  width: 80%;
  height: auto;
}

.contenedor__productos img {
  width: 80%;
  height: auto;
}

#body__tienda {
  background-color: #9C9BAA;
}

@media (max-width: 768px) {
  .box__productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .box__productos {
    grid-template-columns: repeat(1, 1fr);
  }
}
.div_linea {
  width: 100%;
  height: 5px;
}

/*PAGINA ACERCA DE O SOBRE NOSOTROS*/
.contenido_sobrenosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 50px;
}

.contenido_sobrenosotros img {
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

.imagen1 {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .contenido_sobrenosotros {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .contenido_sobrenosotros {
    grid-template-columns: repeat(1, 1fr);
  }
}
.div_linea {
  width: 100%;
  height: 5px;
}

.logo img {
  height: 50%;
}

.landpage__inicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". Header Header Header Header ." ". Welcome Welcome Welcome Welcome ." ". Welcome Welcome Welcome Welcome ." ". . Tienda Tienda . .";
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url(../Images/imagenfondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

#main {
  min-height: 100vh;
}

#header {
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 5vw;
}

/*============PROPIEDADES DEL NAV============*/
#navBar ul li a {
  font-size: 2vw;
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

#navBar {
  margin-right: 9vw;
  margin-top: 5vw;
}

#navBar ul {
  display: flex;
  align-items: flex-end;
  border: solid;
  border-radius: 10px;
  padding-right: 40px;
}

/*================Propiedades Welcome to the best dried fruit Store========= */
.Welcome {
  grid-area: Welcome;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  margin-left: 4vw;
  margin-top: 5vw;
  font-family: indie Flower;
}

.Welcome h1 {
  font-size: 4vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a, * li {
  display: inline-block;
  font-style: none;
  list-style: none;
  text-decoration: none;
  font-family: indie flower;
}

/*# sourceMappingURL=style.css.map */
